doctype html5
html(lang="en")
   head
      base(href="/")
      link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
      link(href="/css/bootstrap.min.css", rel="stylesheet")
      link(href="/vendor/toastr/toastr.min.css", rel="styleSheet")
      link(href="/css/site.css", rel="styleSheet")
   body(ng-app="app")
      block main-content
      include scripts